# Rust build artifacts
target
Cargo.lock

*.swp

# IDE configs
.idea/
.vscode/

# Potential products from TeX while testing
*.pdf
*.log
*.aux
*.iml

# Product of `qc` binary
test.svg

# Products from testing
*.tex
*.html
callgrind*
*.rustfmt
